# CONFIGURAÇÃO DAS CREDENCIAIS DE AMBIENTE

# IMPORTANTE!! Criar arquivo '.env' dentro de 'Conversao_banco_Python' com as respectivas variáveis e valores

#CONEXAO FIREBIRD
FIREBIRD_DB_PATH=/firebird/data/HERBARIUM.GDB
FIREBIRD_USER=SYSDBA
FIREBIRD_PASSWORD=masterkey

#CONEXAO MYSQL
MYSQL_USER=root
MYSQL_PASSWORD=Test@123
MYSQL_HOST=hcf_mysql
