[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fdb = "2.0.2"
psycopg2-binary = "*"
python-dotenv = "*"
mysql-connector-python = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
